In [ ]:
import pandas as pd
import os
import json
import numpy as np
from itertools import groupby
import matplotlib.pyplot as plt
from scipy import stats
import matplotlib as mpl
from sklearn.linear_model import LogisticRegression
import random
import re
import csv
import warnings
warnings.filterwarnings('ignore')
from IPython.display import HTML, display, Image
from datetime import date,datetime

In [ ]:
current_path = os.path.abspath(os.getcwd())
parent_path = os.path.abspath(os.path.join(current_path, os.pardir))
grand_parent_path = os.path.abspath(os.path.join(parent_path, os.pardir))
main_path = os.path.abspath(os.path.join(grand_parent_path, os.pardir))

path_results = main_path+'/results/gabor/'
path_data = main_path+'/data/'

In [11]:


path = path_data + 'day1/session1/'
filename= 'demographics.json'

In [13]:
def calculate_age(born):
    exp_starting_day = datetime.strptime('2020-11-25','%Y-%m-%d')
    return exp_starting_day.year - born.year - ((exp_starting_day.month, exp_starting_day.day) < (born.month, born.day))

In [7]:
data_files = [f for f in os.listdir(path) if f.endswith('_day1_session1')]
dem_list = []
for f in data_files:
    data = [] 
    for line in open(path+f, 'r'):
        if line.strip():
            data.append(json.loads(line))
    dem_list.append(data[0])

In [8]:
df = pd.DataFrame(dem_list)

In [9]:
df.head()

,birthday,country,gender,school,psycho,medication,userID
0,1992-08-28,Spain,Femenino,Universidad completa,No,No,Sophia
1,1998-02-01,Spain,Masculino,Posgrado incompleto,No,No,pablogm11
2,1998-05-19,Spain,Femenino,Universidad completa,No,No,Mary
3,1999-09-18,Spain,Masculino,Universidad incompleta,No,no,mcmarc14
4,2000-03-29,Spain,Femenino,Universidad incompleta,No,No,LauraC

In [14]:
df['age'] = [calculate_age(datetime.strptime(elem,'%Y-%m-%d')) for elem in list(df['birthday'])]

In [10]:
df['gender'].value_counts()

Femenino             18
Masculino             4
Prefiero no decir     1
Name: gender, dtype: int64

In [ ]:
df['gender'].value_counts()

In [15]:
print('median age = ',np.median(df['age']))

median age =  23.0

In [16]:
print('minimum age = ',np.min(df['age']))

minimum age =  20

In [17]:
print('maximun age = ',np.max(df['age']))

maximun age =  34

In [19]:
df['school'].value_counts()

Universidad incompleta    9
Universidad completa      7
Posgrado incompleto       4
Posgrado completo         3
Name: school, dtype: int64

In [20]:
df['psycho'].value_counts()

No                   21
SÃ­                    1
Prefiero no decir     1
Name: psycho, dtype: int64

In [21]:
df['medication'].value_counts()

No            14
no             7
Loratadina     1
Aerius         1
Name: medication, dtype: int64

In [22]:
df['country'].value_counts()

Spain       22
Colombia     1
Name: country, dtype: int64